@import 'jekyll-theme-cayman';

.post-title {
    font-size: 1.8em !important;
    font-weight: bold !important;
    color: #222222 !important;
    margin-bottom: 0.2em !important;
}

.post-date {
    font-size: 0.9em !important;
    color: #888888 !important;
    margin-bottom: 0.5em !important;
}

.post-content {
    font-size: 1em !important;
    color: #333333 !important;
    line-height: 1.6 !important;
}

.top-message {
    text-align: center !important;
    font-size: 1.5em !important;
    margin-bottom: 1em !important;
}